<h1>Result:</h1>
<p><%= @restaurant.name %></p>
<p><%= @restaurant.price_for_two %></p>
<a href="<%= @restaurant.google_url %>" target="_blank">See near <%= @restaurant.name %> branches</a>

<img src="<%= @restaurant.thumbnail_url %>"></img>